{% extends 'base.html' %}

{% block title %} My Labs {% endblock title %}

{% block content %}

{% include 'includes/navbar.html' %}

<div class="container py-5">
	<div class="d-flex justify-content-between align-items-center pb-3">
		<h1>My Labs</h1>
		<a class="btn btn-success h-100" href="{% url 'create_lab' %}">&plus; Create Lab</a>
	</div>

	{% if labs.count > 0 %}
	<div class="row">
		{% for lab in labs %}
		<div class="col-sm-4">
			<div class="card border-0 shadow mb-5">
				<h5 class="card-header">{{ lab.name }}</h5>
				<div class="card-body">
					<p class="card-text font-weight-light">{{ lab.description }}</p>
					<a href="{% url 'manage_lab' lab.id %}" class="btn btn-dark">Manage</a>
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
	<h4>You dont't have any labs yet.</h4>
	{% endif %}
</div>

{% endblock content %}